    <!-- Call to action -->
    <div class="call-to-action pd-top-80 pd-bottom-100">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Do you have an idea for a stand?</h2>
                    <a class="btn btn-red mg-top-30" href="">Submit an Idea</a>
                </div>
            </div>
        </div>
    </div>