 <!-- footer -->
    <div class="footer-section">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span>Project created by <a href="https://medium.com/@NateAndorsky" target="_blank">Nate Andorsky</a> and<a href="#"> Charlie Rybak</a></span>
                        <br><span>&copy; 2017 timetotakeastand</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
